<nav id="navMenu"> 
    <!-- TODO: Change this to a styled button nav -->
    <a href="/">Home</a>
    <p>|</p>
    <a href="/pages/about.html">About Us</a>
    <p>|</p>
    <a href="/pages/academics.html">Academics</a>
    <p>|</p>
    <a href="/pages/admissions.html">Admissions</a>
    <p>|</p>
    <a href="/pages/campus-life.html">Campus Life</a>
    <p>|</p>
    <a href="/pages/research.html">Research</a>
    <p>|</p>
    <a href="/pages/news-events.html">News & Events</a>
    <p>|</p>
    <a href="/pages/contact.html">Contact</a>
</nav>
